@model Models.Order_Components

@{
    ViewBag.Title = "update";
}

<h2>update</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <br />



        <form class="form-horizontal" role="form" method="post">


            <label class="control-label col-sm-2" for="email">Fk_order:</label>

            @Html.DropDownListFor(item => item.Fk_order, new SelectList(ViewBag.fkorder), new { @class = "form-control" })
            @Html.ValidationMessageFor(item => item.Fk_order, "", new { @class = "text-danger" })

            <br />

            <label class="control-label col-sm-2" for="email">Fk_item:</label>

            @Html.DropDownListFor(item => item.Fk_item, new SelectList(ViewBag.fk, "Id", "Name"), new { @class = "form-control" })
            @Html.ValidationMessageFor(item => item.Fk_item, "", new { @class = "text-danger" })


            <br />



            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <button type="submit">Create</button>
        </form>
        <br />
        @Html.ActionLink("RETURN", "index")
    </div>


    <script src="../ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min_2.js"></script>
    <script src="../maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>