<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("ADMINISTRATION", "index", "ADMINISTRATION")</li>
                </ul>
               
            </div>
        </div>
    </div>

    <div class="col-md-3" style="width:200px" >
        <ul  class="nav nav-pills nav-stacked">
            <li class="active"><a>Home</a></li>
            <li><a href="~/User/Index">User</a></li>
            <li><a href="~/Role/Index">Role</a></li>
            <li><a href="~/Sub_Category/Index">Sub_Category</a></li>
            <li><a href="~/Reservation/Index">Reservation</a></li>
            <li><a href="~/order_component/Index">order_component</a></li>
            <li><a href="~/Order/Index">Order</a></li>
            <li><a href="~/Item/Index">Item</a></li>
            <li><a href="~/Contact_US_Information/Index">Contact_US_Info</a></li>
            <li><a href="~/Category/Index">Category</a></li>

        </ul>
    </div>


    <div  class="container body-content">

            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
</div>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
